In [1]:
import pandas as pd

- city 중요
- area_locality는 사용하지 않을 예정
- contact가 제일 중요변수로 나옴

In [6]:
data = pd.read_csv('../data/house_rent_train.csv')
data.head()

,posted_on,bhk,rent,size,floor,area_type,area_locality,city,furnishing_status,tenant_preferred,bathroom,point_of_contact
0,2022-04-23,2,7000,450,1 out of 3,Carpet Area,safuipara,Kolkata,Furnished,Bachelors,2,Contact Owner
1,2022-04-23,1,6500,800,Ground out of 1,Carpet Area,Santragachi,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
2,2022-04-23,2,20000,700,1 out of 2,Super Area,Salt Lake City Sector 1,Kolkata,Furnished,Bachelors/Family,1,Contact Owner
3,2022-04-23,3,36125,1700,Ground out of 2,Super Area,Salt Lake City,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
4,2022-04-23,2,8000,650,1 out of 2,Super Area,"Garia Station, Garia",Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2693 entries, 0 to 2692
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   posted_on          2693 non-null   object
 1   bhk                2693 non-null   int64
 2   rent               2693 non-null   int64
 3   size               2693 non-null   int64
 4   floor              2693 non-null   object
 5   area_type          2693 non-null   object
 6   area_locality      2693 non-null   object
 7   city               2693 non-null   object
 8   furnishing_status  2693 non-null   object
 9   tenant_preferred   2693 non-null   object
 10  bathroom           2693 non-null   int64
 11  point_of_contact   2693 non-null   object
dtypes: int64(4), object(8)
memory usage: 252.6+ KB